.custom-slick-btn .slick-prev{
	top: 45%;
	color:inherit;
	width:24px;
	height:24px;
	background: url('../arrows/left.png') no-repeat;
	content:none !important;
}

.custom-slick-btn .slick-next{
	top: 45%;
	color:inherit;
	width:24px;
	height:24px;
	background: url('../arrows/right.png') no-repeat;
	content:none !important;
}

.custom-slick-btn .slick-prev:before {
	width: 24px;
	height: 24px;
	background: url('../arrows/left.png') no-repeat;
	left:0;
	opacity:100;
	content: none !important;
}

.custom-slick-btn .slick-next:before {
	width: 24px;
	height: 24px;
	background: url('../arrows/right.png') no-repeat;;
	right:0;
	opacity:100;
	content: none !important;
}
